
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

#currentTimeText {
  font-size:2em;
}
#timeline {
  position: absolute;
    bottom: 30px;
    width: 90vw;
    z-index: 100;
    background: #d3d3d3d4;
    border-radius: 3px;
    left: 2.5vw;
  padding-top: 1em;
}
#playbackSpeed {
  float: right;
  width: 40vw;
  margin-right: 2em;
  margin-top: 2em;
  text-align: right;
}
#playButton {
  height: 6em;
  margin-left: 2em;
}

#slider {
    margin-top: 3em; 
    margin-left: 2em;
    margin-right: 2em;
  text-align: right;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .15s, opacity .15s linear;
}

.fastforwardIcon {
  letter-spacing: -.2rem;
}

.slider .ui-slider-pip {
    top: -12px; 
}
.slider .ui-slider-pip .ui-slider-label {
    top: -18px; 
}
.overlay {
  position: absolute;
  top: 10px;
  left: 10px;
}

.overlay button {
  font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #3386c0;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.overlay #slider {
  width: 100%;
}

.overlay button:hover {
  background-color: #4ea0da;
}
.marker {
display: block;
border: none;
border-radius: 50%;
cursor: pointer;
padding: 0;
background-size: cover;
}
body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  margin: 1em;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

nav textarea {
    width: 80%;
    height: 50%;
    margin: auto;
}

#actorFocus button {
  display: block;
}