<div id="layover">
    <div id="video">

    </div>
    <div id="chatBox">
        <ul id="messages"></ul>
        <div id="messageBox">
            <form id="form" action="">
                <input id="input" autocomplete="off" /><button>Send</button>
            </form>
        </div>
    </div>

</div>